/* You can add global styles to this file, and also import other style files */

body{
  background-color: lightblue;
}

.liste{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
